$color1: #fff;
$color2: #22202e;
$color3: rgba(0, 0, 0, 0.1);
$color4: #726e8d;
$color5: #2a254b;
$color6: var(--White, #fff);
$color7: rgba(249, 249, 249, 0.15);
$color8: black;
$color9: #f9f9f9;
$color10: rgb(164, 164, 164);
$color11: rgba(255, 255, 255, 0.15);
$color12: #4e4d93;
