.advantages {
  padding: 72px 0 54px;

  background: url(../../src/img/advantages-bg.png) no-repeat;
  background-position: right;
  &__title {
    width: 514px;
  }
  &__desc {
    padding-top: 36px;
    width: 536px;
  }
  &__btn {
    border: none;
    cursor: pointer;
    background: $color9;
    margin-top: 196px;
    width: 150px;
    height: 56px;
  }
}
