.products {
  padding: 64px 0 48px;

  &__list {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 25px 0 44px;
  }
  &__desc {
    padding: 24px 0 8px;
  }

  &__image {
    width: 305px;
    height: 375px;
  }
  &__btn {
    width: 170px;
    height: 56px;
    border: none;
    cursor: pointer;
    display: block;
    margin: 0 auto;
  }
}
