.promo {
  .container {
    @media (min-width: 390px) {
      margin: 0;
      padding: 0;
    }
  }
  @media (min-width: 390px) {
    margin: 0;
  }
  @media (min-width: 1440px) {
    margin: 60px 80px;
  }

  &__wrapper {
    background: #2a254b;

    display: flex;

    @media (min-width: 390px) {
      width: 390px;
      padding: 40px 0 40px;
    }
    @media (min-width: 1440px) {
      gap: 99px;
      width: 100%;
      padding: 0;
    }
  }

  &__title {
    color: $color6;
    font-family: "Clash Display";
    font-size: 32px;
    font-weight: 400;
    line-height: 140%;

    @media (min-width: 1440px) {
      padding-top: 60px;
    }
  }
  &__block {
    padding: 0 0 0 60px;
    @media (min-width: 390px) {
      padding: 0 24px;
    }
  }
  &__item-block {
    display: flex;
    @media (min-width: 390px) {
      flex-direction: column-reverse;
      gap: 32px;
    }
    @media (min-width: 1440px) {
      flex-direction: column;
    }
  }
  &__btn {
    color: $color6;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    padding: 16px 32px;
    background: $color7;

    border: none;
    cursor: pointer;
    @media (min-width: 390px) {
      padding: 16px 32px;
    }
    @media (min-width: 1440px) {
      margin-top: 41px;
      width: 200px;
      height: 56px;
    }
  }

  &__desc {
    color: $color6;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;

    @media (min-width: 390px) {
      padding-top: 80px;
    }
    @media (min-width: 1440px) {
      padding-top: 196px;
    }
  }
  &__img {
    @media (min-width: 390px) {
      display: none;
      @media (min-width: 1440px) {
        display: block;
      }
    }
  }
}
